# Lines that begin with #, like this one, are ignored.
/*.*
!/*.bat
.*
!.gitignore
!pom.xml
*.[oa]
*~
*.class
*.html
*.htm
*.jar
*.zip
*.dmp
# Floder and Files
null/
target/
djnativeswing/
deployment/
.gitmodules
/output/
/bin/
/garbage/
*.xls
!*Example.xls
*.xlsx
!*Example.xlsx