# Lines that begin with #, like this one, are ignored.
*.[oa]
*~
*.class
*.html
*.htm
*.dmp
# Floder and Files
null/
test-output/
screenShots/
target/
.gitmodules
submodule_taf
/output/
/bin/
/garbage
/2014/
*.bak[0-9]*